body{
    background-color: #191919;
    margin: 0px;
    height: 350vh;
    overflow-x: hidden;
}
body::-webkit-scrollbar { width: 0 !important }
#main{
    display:flex;
    flex-direction: column;
    width: 99vw;
    height: 350vh;
    background: linear-gradient(90deg, #191919 21px, transparent 1%) center, linear-gradient(#191919 21px, transparent 1%) center, #505050;
    background-size: 22px 22px;
}
.head {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        #0077B6,
        #0096C7,
        #00B4D8,
        #0096C7,
        #0077B6
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    background-clip:text;
  }
.head {
    color: white;
    font-family: "Inter";
    font-size: 4.5rem;
    font-weight: 800;
    text-align: center;
    margin-top: 35vh;
    margin-bottom: 2vh;
    z-index: 10;
}
@keyframes background-pan {
from {
    background-position: 0% center;
}

to {
    background-position: -200% center;
}
}
.sub{
    color: rgba(235, 235, 235, .6);
    font-family: "Inter";
    font-size: 1.5rem;
    font-weight: 400;
    padding: 20px;
    text-align: center;
    margin-top: 2vh;
    z-index: 10;
    height: 30vh;
}

.deco{
    position: absolute;
}

#arrow{
    background-color: #34a0a4;
    border-radius: 1rem;
    height: 8vh;
    width: 8vh;
    min-height: 50px;
    min-width: 50px;
    display:flex;
    justify-content: center;
    align-items: center;

    transform: rotateZ(45deg);
    box-shadow: 0px 0px 15px 2px rgba(34, 160, 164, 0.3);
    z-index: 14;


}
/* arrow elem container */
.arrow{ 
    left: 20vw;
    top: 80vh;
    z-index: 14;
}

#arrow > svg{
    transform: rotateZ(45deg);
    align-items: center;
}

.location{
    z-index: 1;
    color: rgba(235, 235, 235, .2);
    font-size: 8rem;
    font-family: "Inter";
    font-weight: 700;
    top: 60vh;
    left: 55vw;
    white-space: nowrap;
}

.established{
    z-index: 2;
    color: #0096C7;
    font-size: 5rem;
    font-family: "Inter";
    font-weight: 700;
    top: 95vh;
    left: 59vw;
    white-space: nowrap;
    z-index: 13;
}
.box1-container{
    position:absolute;
    left: 70vw;
    bottom: 20vh;
    z-index: 12;
}
.box1{
    
    background-color: #90e0ef;
    border-radius: 1rem;
    height: 20vh;
    width: 20vh;
    min-height: 150px;
    min-width: 150px;
    display:flex;
    justify-content: center;
    align-items: center;

    transform: rotateZ(45deg);
    box-shadow: 0px 0px 15px 2px #90e0ef30;

    z-index: 12;
}

.box2-container{
    position:absolute;
    left: 40vw;
    bottom: 30vh;
    z-index: 12;
}
.box2{
    
    background-color: #023E8A;
    border-radius: 0.75rem;
    height: 5vh;
    width: 5vh;
    min-height: 50px;
    min-width: 50px;
    display:flex;
    justify-content: center;
    align-items: center;

    transform: rotateZ(45deg);

    z-index: 12;
}
.box3-container{
    position:absolute;
    left: 20vw;
    bottom: 90vh;
    z-index: 9;
}
.box3{
    
    background-color: #03045E;
    border-radius: 0.75rem;
    height: 40vh;
    width: 40vh;
    min-height: 50px;
    min-width: 50px;
    display:flex;
    justify-content: center;
    align-items: center;

    transform: rotateZ(45deg);

    z-index: 9;
}


.path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes pathAnim-0{
    0%{
    d: path("M 0,600 C 0,600 0,150 0,150 C 68.31794871794872,156.16666666666669 136.63589743589745,162.33333333333334 212,163 C 287.36410256410255,163.66666666666666 369.77435897435896,158.83333333333331 454,166 C 538.225641025641,173.16666666666669 624.2666666666667,192.33333333333334 712,175 C 799.7333333333333,157.66666666666666 889.1589743589743,103.83333333333331 959,104 C 1028.8410256410257,104.16666666666669 1079.0974358974358,158.33333333333334 1156,175 C 1232.9025641025642,191.66666666666666 1336.451282051282,170.83333333333331 1440,150 C 1440,150 1440,600 1440,600 Z");
    }
    25%{
    d: path("M 0,600 C 0,600 0,150 0,150 C 61.5230769230769,151.3051282051282 123.0461538461538,152.6102564102564 201,152 C 278.9538461538462,151.3897435897436 373.3384615384616,148.86410256410258 469,155 C 564.6615384615384,161.13589743589742 661.6,175.9333333333333 737,184 C 812.4,192.0666666666667 866.2615384615385,193.40256410256413 950,172 C 1033.7384615384615,150.59743589743587 1147.3538461538462,106.45641025641025 1234,99 C 1320.6461538461538,91.54358974358975 1380.3230769230768,120.77179487179487 1440,150 C 1440,150 1440,600 1440,600 Z");
    }
    50%{
    d: path("M 0,600 C 0,600 0,150 0,150 C 98.78717948717949,148.5923076923077 197.57435897435897,147.1846153846154 273,151 C 348.425641025641,154.8153846153846 400.4897435897435,163.85384615384615 467,150 C 533.5102564102565,136.14615384615385 614.4666666666667,99.4 704,117 C 793.5333333333333,134.6 891.6435897435897,206.54615384615386 977,204 C 1062.3564102564103,201.45384615384614 1134.9589743589745,124.41538461538461 1210,103 C 1285.0410256410255,81.58461538461539 1362.5205128205127,115.7923076923077 1440,150 C 1440,150 1440,600 1440,600 Z");
    }
    75%{
    d: path("M 0,600 C 0,600 0,150 0,150 C 105.04871794871795,155.87435897435898 210.0974358974359,161.74871794871794 279,154 C 347.9025641025641,146.25128205128206 380.6589743589742,124.87948717948717 462,135 C 543.3410256410258,145.12051282051283 673.2666666666668,186.73333333333335 758,186 C 842.7333333333332,185.26666666666665 882.274358974359,142.1871794871795 945,137 C 1007.725641025641,131.8128205128205 1093.6358974358975,164.5179487179487 1180,173 C 1266.3641025641025,181.4820512820513 1353.1820512820514,165.74102564102566 1440,150 C 1440,150 1440,600 1440,600 Z");
    }
    100%{
    d: path("M 0,600 C 0,600 0,150 0,150 C 68.31794871794872,156.16666666666669 136.63589743589745,162.33333333333334 212,163 C 287.36410256410255,163.66666666666666 369.77435897435896,158.83333333333331 454,166 C 538.225641025641,173.16666666666669 624.2666666666667,192.33333333333334 712,175 C 799.7333333333333,157.66666666666666 889.1589743589743,103.83333333333331 959,104 C 1028.8410256410257,104.16666666666669 1079.0974358974358,158.33333333333334 1156,175 C 1232.9025641025642,191.66666666666666 1336.451282051282,170.83333333333331 1440,150 C 1440,150 1440,600 1440,600 Z");
    }
}

.path-1{
animation:pathAnim-1 4s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
@keyframes pathAnim-1{
0%{
d: path("M 0,600 C 0,600 0,300 0,300 C 100.19230769230768,284.68974358974356 200.38461538461536,269.37948717948717 281,257 C 361.61538461538464,244.62051282051283 422.6538461538462,235.17179487179482 491,247 C 559.3461538461538,258.8282051282052 635,291.93333333333334 707,311 C 779,330.06666666666666 847.3461538461538,335.0948717948718 941,318 C 1034.6538461538462,300.9051282051282 1153.6153846153845,261.6871794871795 1241,255 C 1328.3846153846155,248.3128205128205 1384.1923076923076,274.15641025641025 1440,300 C 1440,300 1440,600 1440,600 Z");
}
25%{
d: path("M 0,600 C 0,600 0,300 0,300 C 94.77179487179487,294.0974358974359 189.54358974358973,288.1948717948718 265,303 C 340.45641025641027,317.8051282051282 396.59743589743584,353.31794871794875 465,345 C 533.4025641025642,336.68205128205125 614.0666666666668,284.5333333333333 698,258 C 781.9333333333332,231.46666666666667 869.1358974358973,230.54871794871798 962,246 C 1054.8641025641027,261.451282051282 1153.3897435897436,293.2717948717949 1234,305 C 1314.6102564102564,316.7282051282051 1377.3051282051283,308.36410256410255 1440,300 C 1440,300 1440,600 1440,600 Z");
}
50%{
d: path("M 0,600 C 0,600 0,300 0,300 C 104.32820512820513,275.9153846153846 208.65641025641025,251.83076923076922 280,244 C 351.34358974358975,236.16923076923078 389.7025641025641,244.5923076923077 464,252 C 538.2974358974359,259.4076923076923 648.5333333333334,265.8 730,270 C 811.4666666666666,274.2 864.1641025641026,276.2076923076923 943,293 C 1021.8358974358974,309.7923076923077 1126.8102564102564,341.3692307692308 1214,345 C 1301.1897435897436,348.6307692307692 1370.5948717948718,324.3153846153846 1440,300 C 1440,300 1440,600 1440,600 Z");
}
75%{
d: path("M 0,600 C 0,600 0,300 0,300 C 63.55641025641026,301.1974358974359 127.11282051282052,302.39487179487185 207,289 C 286.8871794871795,275.60512820512815 383.10512820512815,247.61794871794865 478,255 C 572.8948717948718,262.38205128205135 666.4666666666666,305.1333333333334 731,319 C 795.5333333333334,332.8666666666666 831.0282051282052,317.848717948718 915,319 C 998.9717948717948,320.151282051282 1131.4205128205128,337.4717948717949 1227,337 C 1322.5794871794872,336.5282051282051 1381.2897435897435,318.2641025641026 1440,300 C 1440,300 1440,600 1440,600 Z");
}
100%{
d: path("M 0,600 C 0,600 0,300 0,300 C 100.19230769230768,284.68974358974356 200.38461538461536,269.37948717948717 281,257 C 361.61538461538464,244.62051282051283 422.6538461538462,235.17179487179482 491,247 C 559.3461538461538,258.8282051282052 635,291.93333333333334 707,311 C 779,330.06666666666666 847.3461538461538,335.0948717948718 941,318 C 1034.6538461538462,300.9051282051282 1153.6153846153845,261.6871794871795 1241,255 C 1328.3846153846155,248.3128205128205 1384.1923076923076,274.15641025641025 1440,300 C 1440,300 1440,600 1440,600 Z");
}
}
.path-2{
animation:pathAnim-2 4s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
@keyframes pathAnim-2{
0%{
d: path("M 0,600 C 0,600 0,450 0,450 C 59.57948717948719,445.1051282051282 119.15897435897438,440.2102564102564 204,455 C 288.8410256410256,469.7897435897436 398.94358974358965,504.2641025641026 480,504 C 561.0564102564103,503.7358974358974 613.0666666666667,468.73333333333335 697,464 C 780.9333333333333,459.26666666666665 896.7897435897435,484.8025641025641 975,472 C 1053.2102564102565,459.1974358974359 1093.774358974359,408.05641025641023 1165,398 C 1236.225641025641,387.94358974358977 1338.1128205128205,418.9717948717949 1440,450 C 1440,450 1440,600 1440,600 Z");
}
25%{
d: path("M 0,600 C 0,600 0,450 0,450 C 86.68717948717949,461.49743589743593 173.37435897435898,472.9948717948718 258,469 C 342.625641025641,465.0051282051282 425.18974358974356,445.5179487179487 508,428 C 590.8102564102564,410.4820512820513 673.8666666666667,394.93333333333334 754,394 C 834.1333333333333,393.06666666666666 911.3435897435897,406.7487179487179 990,409 C 1068.6564102564103,411.2512820512821 1148.7589743589745,402.07179487179485 1224,407 C 1299.2410256410255,411.92820512820515 1369.6205128205129,430.9641025641026 1440,450 C 1440,450 1440,600 1440,600 Z");
}
50%{
d: path("M 0,600 C 0,600 0,450 0,450 C 81.18974358974359,474.2923076923077 162.37948717948717,498.5846153846154 245,502 C 327.62051282051283,505.4153846153846 411.6717948717949,487.95384615384614 482,471 C 552.3282051282051,454.04615384615386 608.9333333333332,437.6 694,423 C 779.0666666666668,408.4 892.594871794872,395.6461538461538 981,415 C 1069.405128205128,434.3538461538462 1132.6871794871795,485.81538461538463 1205,497 C 1277.3128205128205,508.18461538461537 1358.6564102564103,479.0923076923077 1440,450 C 1440,450 1440,600 1440,600 Z");
}
75%{
d: path("M 0,600 C 0,600 0,450 0,450 C 88.92051282051281,464.67435897435894 177.84102564102562,479.34871794871793 261,487 C 344.1589743589744,494.65128205128207 421.55641025641035,495.27948717948715 493,472 C 564.4435897435897,448.72051282051285 629.9333333333334,401.53333333333336 719,407 C 808.0666666666666,412.46666666666664 920.7102564102563,470.5871794871796 994,478 C 1067.2897435897437,485.4128205128204 1101.2256410256412,442.11794871794865 1169,429 C 1236.7743589743588,415.88205128205135 1338.3871794871793,432.9410256410257 1440,450 C 1440,450 1440,600 1440,600 Z");
}
100%{
d: path("M 0,600 C 0,600 0,450 0,450 C 59.57948717948719,445.1051282051282 119.15897435897438,440.2102564102564 204,455 C 288.8410256410256,469.7897435897436 398.94358974358965,504.2641025641026 480,504 C 561.0564102564103,503.7358974358974 613.0666666666667,468.73333333333335 697,464 C 780.9333333333333,459.26666666666665 896.7897435897435,484.8025641025641 975,472 C 1053.2102564102565,459.1974358974359 1093.774358974359,408.05641025641023 1165,398 C 1236.225641025641,387.94358974358977 1338.1128205128205,418.9717948717949 1440,450 C 1440,450 1440,600 1440,600 Z");
}
}
#svg-container{
    max-height: 1100px;
    width: 110vw;
    display:flex;
    position: absolute;
    top: 300vh;
}
#svg-container > svg{
    align-self:flex-end;
}

#about{
    background-color:#121212;

    width: 100vw;
    padding-right: 10vw;
    padding-left: 10vw;
    height: 200vh;
    display:flex;
    flex-direction: row;
}


.info-head{
    color: #90e0ef;
    font-size: 4.5vw;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-top: 40vh;
    width: 30vw;
    margin-right: 20vw;
    
    top: 40vh;
}

.info-para{
    color:rgba(235, 235, 235, .9);
    font-size: 2.5vw;
    font-family: "Inter", sans-serif;
    text-align: right;
    width: 30vw;
    margin-top: 30vh;
    position:sticky;
    height: 40vh;
    top: 30vh;
}

#grad{
    width: 100vw;
    height: 20vh;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(18,18,18,1) 100%);
    z-index: 15;

}

.paraAnim{
    animation: paraAnim;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}

@keyframes paraAnim {
    0%{
        opacity: 100%;
    }
    50%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

#grad2{
    width: 100vw;
    height: 30vh;
    background: rgb(0,0,0);
    background: linear-gradient(180deg,rgba(18,18,18,1),rgba(0,0,0,0) 100%);
    z-index: 15;
}